@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.candidates-col {
  height: 100vh;
  overflow-y: scroll;
}

